---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { allActivitiesSortedByDate } from "../../js/backend.mjs";
import Button from "../../components/Button.astro";

const activities = await allActivitiesSortedByDate();
---

<Layout>
    <h1 class="text-4xl font-bold mb-6 text-center mt-8">
        Liste des Activités
    </h1>
    {
        activities.length > 0 ? (
            <div>
                {activities.map((activity) => (
                    <div class="mb-4">
                        <Card
                            name={activity.titre}
                            description={activity.description}
                            date={activity.date}
                        />

                        <Button
                            variant="default"
                            url={`/activitees/${activity.id}`}
                            text="Voir les détails"
                        />
                    </div>
                ))}
            </div>
        ) : (
            <p>Aucune activité trouvée.</p>
        )
    }
</Layout>
