---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import image_7 from "../assets/img/image_7_4x.webp";
import image_background from "../assets/img/homepage_background.png";
---

<Layout>
	<main>
		<Image
			src={image_7}
			alt="Background image"
			class="hidden lg:block inset- w-full object-cover"
		/>
		<Image
			src={image_background}
			alt="Background image"
			class="block inset- w-full object-cover lg:hidden"
		/>
	</main>
	<div
		class="absolute flex items-center justify-center flex-col text-center text-black lg:text-white lg:absolute inset-0"
	>
		<h1 class="text-5xl font-">Ciné Flash 25</h1>
		<p class="text-2xl mt-2">Festival audiovisuel</p>
		<Button variant="default" url="presentation" text="Présentation" />
	</div>

	<h2 class="text-2xl font-semibold text-center mt-7 relative mb-8 z-10">
		Du 9 au 10 août 2025
	</h2>

	<div class="container mx-auto p-4">
		<div class="flex flex-col md:flex-row items-start justify-between">
			<div class="md:w-3/4 p-4 space-y-4">
				<div class="flex items-center space-x-4 relative">
					<div
						class="w-7 h-36 bg-[#A1DCC3] absolute top-0 left-0 z-0"
					>
					</div>
					<div class="relative mb-10 z-10">
						<p>
							Que vous soyez passionnés de cinéma, curieux de
							découvrir de nouveaux horizons cinématographiques,
							amateurs éclairés ou simplement désireux de plonger
							dans l'univers fascinant du 7e art, ce festival est
							fait pour vous ! Que vous ayez une expérience avérée
							ou que vous soyez novices, cet événement unique vous
							offre l'opportunité de vivre une immersion totale
							dans des films inédits, de rencontrer des
							professionnels du cinéma et de partager des moments
							conviviaux autour de cette passion commune. Venez
							célébrer ensemble la magie du cinéma dans toutes ses
							formes et toutes ses couleurs !
						</p>
						<Button
							variant="default"
							url="programme"
							text="Programme"
						/>
					</div>
				</div>

				<div class="flex items-center space-x-4 relative">
					<div
						class="w-7 h-36 bg-[#A1DCC3] absolute top-0 left-0 z-0"
					>
					</div>
					<div class="relative mb-10 z-10">
						<p>
							Vous êtes actuellement étudiant et souhaitez
							participer à l'événement ? Ciné Flash 25 a le
							plaisir de vous proposer des tarifs spéciaux
							réservés exclusivement aux étudiants ! Profitez de
							cette occasion unique pour découvrir une sélection
							de films passionnants à des prix avantageux. Que
							vous soyez un cinéphile en herbe ou simplement
							curieux de découvrir de nouveaux films, ces tarifs
							préférentiels vous permettent de vivre pleinement
							l'expérience du festival sans vous ruiner. Ne
							manquez pas cette chance de plonger dans l'univers
							du cinéma tout en bénéficiant d'offres spécialement
							conçues pour les étudiants !
						</p>
						<Button
							variant="default"
							url="billetterie"
							text="Billetterie"
						/>
					</div>
				</div>

				<div class="flex items-center space-x-4 relative">
					<div
						class="w-7 h-36 bg-[#A1DCC3] absolute top-0 left-0 z-0"
					>
					</div>
					<div class="relative mb-10 z-10">
						<p>
							Découvrez des artistes talentueux, des spectacles
							exceptionnels et des moments inoubliables qui
							marqueront à jamais votre esprit. Plongez au cœur
							d'une programmation riche et variée, où chaque film,
							chaque performance, et chaque rencontre vous feront
							vivre des émotions uniques. Laissez-vous emporter
							par la magie de notre festival, un véritable voyage
							au sein d’un univers cinématographique et culturel
							où la créativité et la passion se rencontrent. Un
							événement qui vous offre l’opportunité de vivre des
							expériences rares et de partager des instants
							d’exception avec des artistes et des passionnés du
							monde entier.
						</p>
						<Button
							variant="default"
							url="invites"
							text="Invités"
						/>
					</div>
				</div>

				<div class="flex items-center space-x-4 relative">
					<div
						class="w-7 h-36 bg-[#A1DCC3] absolute top-0 left-0 z-0"
					>
					</div>
					<div class="relative mb-10 z-10">
						<p>
							Explorez la sélection de courts métrages du festival
							: des œuvres captivantes qui vous transporteront
							dans des univers variés, des talents émergents à
							découvrir et des émotions intenses garanties à
							chaque projection ! Chaque court métrage est une
							fenêtre ouverte sur la créativité, l'innovation et
							la richesse des différentes cultures. Laissez-vous
							surprendre par la diversité des genres, des styles
							et des récits, et vivez des moments forts en
							compagnie de cinéastes passionnés. Ces films courts,
							pleins de fraîcheur et de singularité, promettent de
							vous toucher, de vous émouvoir et de vous faire
							rêver.
						</p>
						<Button
							variant="default"
							url="courts-metrages"
							text="Courts métrages"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
